.hero {
  margin-top: 5rem;
}

/* Left Side */
.hero-left-side {
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-left-title {
  margin-bottom: 3rem;
}

.hero-left-text {
  margin-bottom: 3rem;
}
.hero-pro-title {
  font-size: 8rem;
}

.hero-web-title {
  color: #25a4ad;
}
.hero-best {
  display: block;
}

.hero-text {
  font-size: 1.4rem;
}

.hero-p {
  display: block;
}

/* Right Side */

.hero-right-side {
  background-color: #d7fcff;
  border-radius: 50% 50% 0 0;
}

.hero-img {
  height: 62rem;
  display: flex;
  margin: 0 auto;
}
