.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 123rem;
  margin: auto;
  font-size: 2rem;
  margin-top: 2.8rem;
}
.nav-item {
  padding: 0 2rem;
}

.nav-item,
.login,
.signup,
.logo {
  color: #141414;
  text-decoration: none;
}

.login {
  padding-right: 2rem;
}
