/* General Reusaible Components */
.container {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: auto;
}

.grid {
  display: grid;
  column-gap: 3.4rem;
  row-gap: 5rem;
}

.grid-2--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4--cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid-5--cols {
  grid-template-columns: repeat(5, 1fr);
}
.grid-6--cols {
  grid-template-columns: repeat(6, 1fr);
}

.heading-pri,
.heading-sec,
.heading-ter {
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 1px;
}

.heading-pri {
  font-size: 8rem;
  line-height: 1.05;
  /* margin-bottom: 4rem; */
  font-weight: 200;
}
.heading-sec {
  font-size: 8rem;
  line-height: 1.2;
  /* margin-bottom: 3.6rem; */
  font-weight: 700;
}
.heading-tre {
  font-size: 5.4rem;
  line-height: 1.2;
  margin-bottom: 3rem;
  font-weight: 200;
}

.btn-small {
  background-color: transparent;
  border: 1px solid #25a4ad;
  color: #25a4ad;
  width: 12rem;
  height: 4rem;
}
.btn-small:hover {
  background-color: #25a4ad;
  border: none;
  color: #fcfcfc;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.btn-medium {
  background-color: transparent;
  border: 1px solid #25a4ad;
  color: #25a4ad;
  width: 16rem;
  height: 4.5rem;
}
.btn-medium-2 {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  width: 16rem;
  height: 4.5rem;
}

.btn-medium-2:hover {
  background-color: #25a4ad;
  border: none;
  color: #fcfcfc;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn-medium:hover {
  background-color: #25a4ad;
  border: none;
  color: #fcfcfc;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn-right {
  margin-left: 2rem;
}

.btn-large {
  background-color: transparent;
  border: 1px solid #25a4ad;
  color: #25a4ad;
  width: 20rem;
  height: 4.5rem;
}
.btn-large:hover {
  background-color: #25a4ad;
  border: none;
  color: #fcfcfc;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
